{{define "_head"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PWA usando Go e PostgreSQL">
    <meta name="theme-color" content="#212330"/> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link crossorigin="use-credentials" rel="manifest" href="../manifest.json">
    <link rel="apple-touch-icon" href="/public/logo152x152.png">
    <link rel="stylesheet" href="/public/styles/global.css">
    <title>Hangar - Runners</title>
</head>
{{end}}